<h1>About Angel Organization</h1>
<h2>X Instagram Discord etc.</h2>

<p> back to the <a href="/" data-test-id="home">home</a> page</p>

{{#if fortune}}
    <p>Your fortune for the day:</p>
    <blockquote>{{fortune}}</blockquote> 
{{/if}}